li {
  list-style: none;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: 1rem;
  width: 230px;
  height: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.img {
  width: 230px;
  height: 100%;
}

.imgDiv {
  object-fit: cover;
  height: 60%;
}

.infoCont {
  margin: 12px;
}

.artistName {
  max-width: 150px;
  text-align: left;
  font-size: 17px;
}

.followers {
  max-width: 150px;
  text-align: left;
  margin-top: 0.5rem;
  color: rgb(129, 125, 125);
  font-size: 13px;
}

.preview {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.7rem;
  font-size: 25px;
}
