li {
  list-style: none;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  margin: 1rem;
  width: 230px;
  height: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.img {
  width: 230px;
  height: 100%;
}

.imgDiv {
  object-fit: cover;
  height: 60%;
}

.albumInfo {
  margin: 12px;
}

.albumName {
  max-width: 200px;
  text-align: left;
  font-size: 17px;
}

.artistName {
  max-width: 150px;
  text-align: left;
  color: rgb(129, 125, 125);
  font-size: 13px;
}

.dateTrack {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2.5rem;
}

.trackdatespans {
  max-width: 150px;
  text-align: left;
  color: rgb(129, 125, 125);
  font-size: 13px;
}

.preview {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  left: 0;
  font-size: 0.7em;
  padding: 0.5rem;
  background-color: #dadbe4;
}

a {
  text-decoration: none;
  color: rgb(129, 125, 125);
}
