li {
  list-style: none;
}

.img {
  width: 150px;
  height: 70px;

  margin: 0 auto 1rem;
}

.imgDiv {
  display: flex;
}

.albumName {
  max-width: 150px;
  text-align: left;
  font-size: 17px;
}

.artistName {
  max-width: 150px;
  text-align: left;
  color: rgb(129, 125, 125);
  font-size: 13px;
}

.dateTrack {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 2.5rem;
}

.trackdatespans {
  max-width: 150px;
  text-align: left;
  color: rgb(129, 125, 125);
  font-size: 13px;
}

.preview {
  position: absolute;
  bottom: 0;
  text-align: center;
  right: 0;
  left: 0;
  font-size: 0.7em;
  padding: 0.5rem;
  background-color: #dadbe4;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

a {
  text-decoration: none;
  color: rgb(129, 125, 125);
}

@media (max-width: 900px) {
  .img {
    width: 120px;
    height: 70px;
    margin: 0 auto 1rem;
  }
  .preview {
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    font-size: 0.7em;
    padding: 0.5rem;
    background-color: #dadbe4;
  }
}

@media (max-width: 450px) {
  .img {
    width: 100px;
    height: 70px;
    margin: 0 auto 1rem;
  }
  .preview {
    position: absolute;
    bottom: 0;
    text-align: center;
    right: 0;
    left: 0;
    font-size: 0.7em;
    padding: 0.5rem;
    background-color: #dadbe4;
  }

  .albumName {
    max-width: 150px;
    text-align: left;
    font-size: 13px;
  }
}
