.form {
  background-color: #dadbe4;
  width: 350px;
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.input {
  all: unset;
  font: 16px system-ui;
  color: rgb(44, 42, 42);
  height: 100%;
  width: 100%;
  padding: 0 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

::placeholder {
  color: rgb(129, 125, 125);
  opacity: 0.7;
}
